<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <title>Sage The Seer</title>
</head>

<body>
    {{!-- <button id="logout">Logout</button> --}}
    {{{body}}}

    {{!-- <main>
        <section>
            <!-- Title and instructions of app -->
            <h1>Sage The Seer</h1>

            <p class="instructions">Answer the following questions...</p>
            <button id="startBtn">Start</button>
        </section>


        <section id="nameInput" style="display: none;">
            <h2>What is your name and birthday?</h2>
            <div>
                <label for="">Enter Your Name</label>
                <input id="fullName" type="text">
                <label for="">Enter Birthday</label>
                <input id="date" type="date">
                <button id="nextBtn" type="submit">Next</button>
            </div>

        </section>

    </main> --}}

    <script src="/js/signup.js"></script>
</body>

</html>