
<h1 id="home-name">Sage the Seer</h1>
<hr id="line" class="mt-4">
<hr id="line" class="mt-4">
<h3>Where questions find answers...</h3>
<hr id="line" class="mt-6">

<section class="row " >
  <div class="col-md-6 ">
    <h2 id="login-name">Login</h2>

    <form class="form login-form" id="login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
    
      <div class="form-group">
        <label for="password-login" >PWD:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <h2 id="signup-name">Signup</h2>

    <form class="form signup-form" id="signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">PWD:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary " type="submit">Signup</button>
      </div>
    </form>
  </div>

</section>

<script src="./js/login-out.js"></script>
<script src="./js/signup.js"></script>