
<body>
    <section id="sagesFinal" class="grid text-center">
        <h1  >The Sage has spoken:</h1>
        <hr id="line" class="mt-4">
        <div id="prophSet" class="fs-3">{{randomProphecy.prophecy_str}}</div>
        <hr id="line" class="mt-4">
            <!-- Button to go back to homepage -->
            <p>
                <button  class="btn btn-dark ">Home Page</button>
            </p>
        
    </section>
</body>
</html>