<body>
    <h1 class="position-absolute top-25 start-50 translate-middle-x ">
        Welcome to the Seer's Realm {{name}}!
    </h1>

    <section class="text-bg-grey p-5 fs-3" id="question-section">
        <!-- Title and instructions of app -->
        <h2>Sage Request:</h2>
        <h4 class="instructions">Answer honestly with true intention.....</h4>
        <div>What do you feel to be your spirit animal?</div>
        <input class="fs-5" placeholder="Spirit Animal">

        <div>Visualize yourself holding a weapon... What is your weapon of choice?</div>
        <input class="fs-5" placeholder="Weapon of choice">

        <div>Visualize a crossroads.... Which direction will you take?
            (Forward, Backward, Left, Right)
        </div>
        <input class="fs-5" placeholder="Crossroads">

        <div>What time of day do you feel most at peace?</div>
        <input class="fs-5" placeholder="Time of peace">

        <div id="questionContainer">
            <div id=" questions">Emotions hold a large core of self doubt and self love... What emotion do you hold
                most?</div>

            <a href="/angry"> <button id="btn1" class="btn btn-dark fs-6 ">Angry</button></a>
            <a href="/sad"><button id="btn2" class="btn btn-dark fs-6">Sad</button></a>
            <a href="/afraid"><button id="btn3" class="btn btn-dark fs-6">Afraid</button></a>
            <a href="/happy"><button id="btn4" class="btn btn-dark fs-6">Happy</button></a>
            <a href="/excited"><button id="btn4" class="btn btn-dark fs-6">Excited</button></a>
            <hr id="line" class="mt-4">
        </div>
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        </div>

    </section>

</body>
<script src="./js/questions.js"></script>