
#answerBtn .btn-grid{
   padding-bottom: 10%; 
}

#question-section{
   align-content: center;
   padding-top: 15%;
}

#sagesFinal {
   align-items: center;
   padding-top: 50px;
}
#prophSet{
   padding: 25px 25px;
}