
#home-name{
   font-style: italic;
   text-underline-position: below blue;
}
#login-name {
   color: black;
}
#signup-name{
   color: black;

}
#login-form {
   align-items: center;
}


#answerBtn .btn-grid{
   padding-bottom: 10%; 
}

#question-section{
   align-content: center;
   padding-top: 15%;
}

#sagesFinal {
   align-items: center;
   padding-top: 50px;
}
#prophSet{
   padding: 25px 25px;
}

/* added a background image */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://wallpaperaccess.com/full/250472.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        color: rgb(247, 243, 243);
    }

    #title {
        padding-top: 100px;
        font-size: 35px;
    }

    .instructions {
        font-size: 25px;
        font-weight: bolder;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        color: aliceblue;
        float: left;
        display: flex;
        justify-content: flex-end;
    }

    .header nav ul li {
        display: inline-block;
    }

    a {
        color: rgb(227, 230, 230);
    }
   

